/* CSS Reset styles */

html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}

:focus {
	outline: 0;
}

body {
	line-height: 1;
	color: black;
  background: url(background.png) top left repeat-x;
  margin: 0px;
  font-family: Arial,Helvetica,sans-serif;
}

html, body {
  height: 100%;
}

ol, ul {
	list-style: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

/* Application styles */

div#header {
  padding: 4px;
  height: 136px; 
}

div#title {
  float: left;
  height: 136px;
  width: 207px;
  background: url(title.png) top left no-repeat;  
}

div#container {
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  width: 800px;
  background-color: #ffffff;
}

div#content {
  width: 100%;
  padding: 8px 0px 24px 0px; 
}

div.heading {
  margin: 8px 4px 8px 4px;  
  font-weight: bold; 
}

/**
*  Movie review summary
*/

div.reviewSummary {
  margin: 2px 12px 10px 12px;
  border-radius: 15px;
  padding: 8px;
  background-color: #b9c7d5;
}

div.thumbnail {
  float: left;
  width: 180px; 
}

div.reviewContainer {
  margin-left: 190px; 
}

.movieReviewer {
  margin-top: 12px;
  margin-bottom: 12px;   
}

div.summaryContent {
  margin-top: 8px;
  font-style: italic; 
  color: #444444;
}

div.reviewAction {
  margin-top: 8px;
  margin-bottom: 8px; 
}

div.reviewDate {
  font-size: 80%;
  float: right;
  color: #555555; 
}

.movieTitle {
  color: #555555;
  font-weight: bold; 
  font-size: 120%;
}

br.clear {
  font-size: 1px;
  clear: both; 
}

/*
* Movie details
*/

div.movieSummary {
  margin: 2px 12px 10px 12px;
  padding: 8px;
}

div.detailContainer {
  margin-left: 190px;
}

div.synopsis {
  margin-top: 8px;
  color: #444444;
}

/*
 * Review
 */
 
div.reviewThumbnail {
  float: right;
  margin: 8px;
}

.reviewText {
  text-align: justify; 
}

.reviewContent {
  padding: 8px;
}
  